<div layout="column" layout-align="center center">
    <md-card class="landing-card">
      <md-toolbar class="md-primary">
        <div class="md-toolbar-tools">
          <h1>Realtime ScrumPoker!</h1>
        </div>
      </md-toolbar>
      <md-card-content>
        <p>This is a side project I made to get more familar with a few technologies, namely websockets.</p>
      </md-card-content>
      <md-button md-theme="scrumPoker" class="md-raised md-accent" ui-sref="poker.game">game lobby</md-button>
    </md-card>

</div>