<div layout="column" layout-align="center center">


  <current-topic-card ng-if="Game.game.topics.length"
                      class="current-topic-card"
                      topics="Game.game.topics"></current-topic-card>

  <div ng-if="Game.game.players.length" layout="row" layout-align="start center">
    <div ng-repeat="player in Game.game.players track by player._id">
      <player-card player="player" pic="{{$index}}"></player-card>
    </div>
  </div>

  <div layout="column" layout-align="center center" ng-if="Game.game.topics.length === 0 && Game.game.players.length === 0">
    <h1>Looks like no one is playing</h1>
    <md-button class="md-raised md-primary"
               ui-sref="poker.game.join">New Player</md-button>
  </div>

  <div ng-if="Game.game.players.length > 0 && Game.game.topics.length < 1">
    <h4>Add First Topic</h4>
    <div ui-view="addTopic"></div>
  </div>

  <div ng-if="Game.addingTopic" >
    <div ui-view="addTopic"></div>
  </div>

  <div layout="row" ng-if="Game.game.players.length && Game.game.topics.length >= 1">
    <md-button class="md-raised md-primary w-font" ui-sref="poker.game.join">Join Game</md-button>
    <md-button ng-if="!Game.addingTopic" class="md-raised md-accent" ng-click="Game.showAddTopic(true)">New Topic</md-button>
    <md-button ng-if="Game.addingTopic" class="md-raised md-accent" ng-click="Game.showAddTopic(false)">Cancel</md-button>
    <md-button class="md-raised md-warn w-font" ng-click="Game.reset()">reset game</md-button>
  </div>

</div>
